body {
	background: rgba(206, 206, 206, 1);
	margin: 0%;
}

.top {
	background: rgba(52, 52, 52, 1);
	height: 17%;
	width: 100%;
}

.main {
	background: #fff;
	height: 75%;
	width: 75%;
	margin: 0 auto;
}

.bottom {
	background: rgba(26, 26, 26, 1);
	height: 10%;
	width: 75%;
	margin: 0 auto;
}